header {
    background-color: #1f2937 ;
    display: flex;
    justify-content: space-around;
    align-items: center;


}
header #logo{
    font-size: 24px;
    color: white;
}

#heroContainer{
    background-color: #1f2937;
    border: 1px solid red;
    height: 30vh;
    display: flex;
    align-items: center;
    
}

#hdrContent, #imgDiv {
    color: white;
    flex: 1;
    padding: 10px;
    margin-left: 15%;
}

#heroContainer #imgDiv{
    border: 1px solid red;
    width: 30px;
    height: 30px;
    

}
ul {
    display: flex;
    list-style-type: none;
}

footer{
    background-color: #1f2937 ;
    color: white;
    text-align: center;
    margin-top: auto;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}